{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <br><br><br>
                <h2><b style="color:white;">Membres du Projets</b></h2>
                <div id="demo" class="carousel slide" data-bs-ride="carousel">

                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                    </div>

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../media/htmlimages/romain_wynaut2.jpg" alt="Los Angeles" class="d-block rounded" style="width:100%">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Romain Monnoyer</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../media/htmlimages/alan_ronflex2.jpg" alt="Chicago" class="d-block rounded" style="width:100%">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Alan Denys</h5>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
            <div class="col-8">
                <br><br><br>
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header"><h4>Romain Monnoyer</h4></div>
                    <div class="card-body">
                        <div class="contact">
                            <div class="row no-gutters">
                                <div class="contact-item">
                                    <br>J'ai principalement développé la partie qui touche à la partie cloud.
                                    Cette partie est composée de la réalisation de cette application web, mais aussi de l'intégration du moteur de recherche
                                    dans celle-ci. J'ai également travailler sur le déploiement cloud de cette application sur notre machine virtuelle.
                                    Pour se faire il fallut dans un premier temps réaliser l'implémentation de l'application avec son système d'authentification.
                                    A celà la gestion d'accès au rendus de images et accès à l'ensemble des descripteurs des images. Enfin le déploiement cloud est réalisé de manière automatisée
                                    par l'utilisation d'action gitHub déclenchée lors d'une pull request. Ce job va build l'image de notre application, push celle-ci sur dockerHub, et lancer le redéploiement de notre application
                                    depuis notre VM à l'aide de la combinaison de service docker (application, DB et volume de backup).
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header"><H4>Alan Denys</H4></div>
                    <div class="card-body">
                        <div class="contact">
                            <div class="row no-gutters">
                                <div class="contact-item">
                                    <br>J'ai travaillé sur la partie frontend du travail et l'indexation.
                                    Cette partie est composé de la réalisation des différentes pages webs ainsi que les navigations et leur design.
                                    J'ai également travaillé à faire fonctionner le code permettant de récupérer les descripteurs afin de pouvoir les héberger sur le site web. Cette récupération a pris un long moment car il a fallu retravailler le code intégralement.
                                    Nous avons également travaillé avec une branche dev et prod via git permettant un travail simultanée et continue.
                                    Une fois les descripteurs effectué, j'ai créé les requêtes django permettant de réaliser la comparaison entre l'image envoyé sur le serveur et les descripteurs disponibles en ligne.
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card text-white bg-secondary mb-3">
                                <div class="card-header"><H4>Indexation</H4></div>
                                <div class="card-body">
                                    <div class="contact">
                                        <div class="row no-gutters">
                                            <div class="contact-item">
                                                <br>L'indexation des différents descripteurs du site a été effectué au préalable et est uniquement hébergé sur le site. Offrir la possibilité de réaliser les descripteurs sur site demandait des ressources trop importantes par rapport aux ressources mises à notre disposition.
                                                L'indexation consiste à créer un moyen de contenir les images de façon afin de pouvoir être utilisable dans d'autres tâches comme la recherche d'image, l'analyse de l'image ou la comparaison entre 2 images. Ce dernier cas est celui qui nous intéresse le plus.

                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="carousel-item">



                            <div class="row">

                                <div class="card text-white bg-secondary mb-3">
                                    <div class="card-header"><H4>Descripteur</H4></div>
                                    <div class="card-body">
                                        <div class="contact">
                                            <div class="row no-gutters">
                                                <div class="contact-item">
                                                    <br>Un descripteur d'image est une fonction utilisant en entrée une image et en sortie un produit de vecteur de valeurs numériques. Ces valeurs permettent de réprésenter l'image de façon numérique. Ces valeurs peuvent être interprêtés et permettent de reformer l'image en reconstituant sa forme, sa couleur, le texte ainsi que les objets présents dans l'image.
                                                    Pour donner un exemple, Le descripteur "BGR" permet de classifier l'image via la couleur présente à l'intérieur (Bleu, verte et rouge). Cela permet de classifier l'image selon les variations de couleurs présente sur celle-ci.
                                                    <br>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="carousel-item">



                                <div class="row">

                                    <div class="card text-white bg-secondary mb-3">
                                        <div class="card-header"><H4>Comment Indexer ?</H4></div>
                                        <div class="card-body">
                                            <div class="contact">
                                                <div class="row no-gutters">
                                                    <div class="contact-item">
                                                        <br>Pour indexer des descripteurs d'images, on a utilisé une base de données d'images fournis et nous avons stocké ces vecteurs de descriptions associés dans une autre base de données.
                                                        Une fois cette base de données réalisée, nous pouvons effectuer différentes requêtes de recherches d'images en fonction de leurs caractéristiques propres ou dans notre cas, les comparer avec d'autres images afin de trouver les similitudes entre elles.
                                                        <br>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}