{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <p style="text-align: center; color: white">Salut {{ user.username }}!</p>
        <p style="text-align: center; color: white"><a href="{% url 'logout' %}">Déconnexion</a></p>
    {% else %}
        <p style="color: white;text-align: center">Tu n'es pas connecté</p>
        <a style="color: white;text-align: center" href="{% url 'login' %}"><p style="text-align: center">Connexion</p></a>
    {% endif %}
{% endblock %}