<html>
{% include "header.html" %}
<body>
<div class="container">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-secondary">Upload</button>
    </form>
    {% if img_obj %}
        <h3>Succesfully uploaded : {{img_obj.title}}</h3>
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
        <h1>{{ img_obj.image.url }}</h1>
    {% endif %}
</div>
</body>
</html>

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>