{% if pk %}
    <img src="{{ pk.url}}" alt="connect" style="max-height:300px">
    <h1>Class : {{ class }}</h1>
    <h1>Subclass : {{ subclass }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">search</button>
    </form>
{% endif %}

{% if voisins %}
    <h1>Compute Time : {{ time }} seconds</h1>
    <p>Mean R: {{ MeanR }}%</p>
    <p>Mean P: {{ MeanP }}%</p>
    <p>{{graph|safe}}</p>
    <p>{{graph2|safe}}</p>
    <p>{{graph3|safe}}</p>
    {% for voisin in voisins%}
        <a href=""><img src="{{ voisin }}" alt="{{ voisin }}" style="min-height: 300px; max-height: 300px"></a>
    {% endfor %}
{% endif %}