{% extends 'base.html' %}

{% block title %}Upload{% endblock %}

{% block content %}
{% if pk %}
<div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <div class="card" style="width: 25rem;">
                    <h5 class="card-title" style="text-align: center">Image Request</h5>
                    <img class="card-img-top" src="{{ pk.url }}" alt="{{ image }}">
                    <div class="card-body">
                        <div class="alert alert-info" role="alert" style="text-align: center">
                            {{ class }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {% if oneDescriptor %}
                    <div class="col-4">
                        <span style="color:white">Descripteur :</span>
                        {{ form.descriptor1 }}
                    </div>
                {% else %}
                    <div class="col-2">
                        <span style="color:white">Descripteur 1:</span>
                        {{ form.descriptor1 }}
                    </div>
                    <div class="col-2">
                        <span style="color:white">Descripteur 2:</span>
                        {{ form.descriptor2 }}
                    </div>
                {% endif %}
                <div class="col-3">
                    <span style="color:white">Distance :</span>
                    {{ form.distance }}
                </div>
                <div class="col-2">
                    <span style="color:white">Top :</span>
                    {{ form.top }}
                </div>
                <div class="col-3">
                    <span style="color:white">Rth: </span>
                    {{ form.R_precision }}
                </div>
            </div>
        <div class="row">

            <div class="col-3">
                <button type="submit" class="btn btn-secondary" style="text-align:center ">search</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endif %}


<div class="container">
    <p style="text-align: center; color: white">
        {% if voisins %}
            <div class="row">
            <div class="offset-4 col-4 offset-4">
                <div class="alert alert-light" role="alert"style="text-align: center;">Compute time: {{ time }} seconds
                </div>
            </div>
            <div class="row">

                <div class="col-6">
                    <div class="alert alert-light" role="alert"style="text-align: center;">R-Precision: {{ Rprecision }}%
                    </div>
                </div>
                <div class="col-6">
                    <div class="alert alert-light" role="alert"style="text-align: center;">F-Mesure: {{ Fmesure }}%
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="alert alert-light" role="alert"style="text-align: center;">Mean Recall: {{ MeanR }}%
                    </div>
                    <p class ="img-fluid img-thumbnail" style="text-align: center; color: white">{{graph|safe}}</p>
                </div>
                <div class="col-6">
                    <div class="alert alert-light" role="alert"style="text-align: center;">Mean Precision: {{ MeanP }}%
                    </div>
                    <p class ="img-fluid img-thumbnail" style="text-align: center; color: white">{{graph3|safe}}</p>
                </div>
            </div>
            </div>
            <div class="row">
                {% for voisin in voisins%}
                    <div class="col-3">
                        <div class="card" style="width: 20rem; max-height: 50rem">
                            <img class="card-img-top" src="{{ voisin }}" alt="{{ voisin }}">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center">Top: {{ forloop.counter }}</h5>
                             </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </p>
</div>
{% endblock %}