<html>
{% include "header.html" %}
<body>
{% if pk %}
<div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <img src="{{ pk.url}}" alt="connect" style="max-height:300px">
{#                <h1>{{ img_obj.image.url }}</h1>#}
            </div>
            <div class="col-6"></div>
        </div>
            <div class="row">
                <div class="col-6">
                    <h1 style="color:white">Class : {{ class }}</h1>
                    <h1 style="color:white">Subclass : {{ subclass }}</h1>
                </div>
            </div>
    <form method="post">
        {% csrf_token %}
            <div class="row">
                <div class="col-2">
                    <h3 style="color:white">Descripteur :</h3>
                </div>
                <div class="col-2">
                    {{ form.descriptor1 }}
                </div>
                <div class="col-2">
                    <h3 style="color:white">Distance :</h3>
                </div>
                <div class="col-2">
                    {{ form.distance }}
                </div>
                <div class="col-2">
                    <h3 style="color:white">Top :</h3>
                </div>
                <div class="col-2">
                    {{ form.top }}
                </div>
            </div>
            <div class="row">
                {{ form.descriptor1 }}
                {{ form.descriptor2 }}
                <button type="submit" class="btn btn-secondary" style="text-align:center ">search</button>
            </div>

    </form>
</div>
{% endif %}

<p style="text-align: center; color: white">
{% if voisins %}
    <h1 style="text-align: center; color: white">Compute Time : {{ time }} seconds</h1>
    <p style="text-align: center; color: white">Mean R: {{ MeanR }}%</p>
    <p style="text-align: center; color: white">Mean P: {{ MeanP }}%</p>
    <p style="text-align: center; color: white">{{graph|safe}}</p>
    <p style="text-align: center; color: white">{{graph2|safe}}</p>
    <p style="text-align: center; color: white">{{graph3|safe}}</p>
    {% for voisin in voisins%}
        <a href=""><img src="{{ voisin }}" alt="{{ voisin }}" style="min-height: 300px; max-height: 300px"></a>
    {% endfor %}
{% endif %}
</p>
</body>
</html>